body {
  background: image-url("Question.png");
  min-height: 100vh;
  min-width: 100vw;
  background-size:contain;
}

.landingPage{
  background-color: black;
  color: white;
  margin-left: 25vw;
  margin-top: 25vh;
  margin-right: 25vw;
  padding-left: 20px;
}
 button {
   color: white;
 }
